.cache/
__pycache__/
.pytest_cache/
*.pyc

logs/
eval_logs/
outputs/
rollouts/
wandb/

*.pt
*.pth
*.ckpt
*.safetensors
pretrained_models/**/checkpoints/
VLA-Adapter/pretrained_models/*/checkpoints/
VLA-Adapter/pretrained_models/prism-qwen25-extra-dinosiglip-224px-0_5b/

VLA-Adapter/LIBERO/
VLA-Adapter/calvin/

*.back.*
*.log
